body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #0f4c75, #3282b8);
    color: #ffffff;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 38px;
}

.tagline {
    font-size: 18px;
    margin-bottom: 40px;
    color: #e0e0e0;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 30px;
    justify-content: center;
}

.card {
    background: #ffffff;
    color: #0f4c75;
    text-decoration: none;
    font-size: 20px;
    padding: 45px 20px;
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    background: #ffd166;
    transform: scale(1.06);
}
.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #ffffff;
    color: #0f4c75;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
.back-btn:hover {
    background: #ffd166;
}
.accordion {
    max-width: 700px;
    margin: 30px auto;
    text-align: left;
}

details {
    background: #ffffff;
    color: #0f4c75;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

summary:hover {
    color: #1b6ca8;
}

details ul {
    margin-top: 10px;
    padding-left: 20px;
}

details ul li {
    margin-bottom: 6px;
}
.logo {
    width: 220px;      /* increase size */
    margin-bottom: 20px;
}
footer {
  margin-top: 50px;
  padding: 15px;
  background: rgba(0,0,0,0.2);
  font-size: 14px;
}

details p {
  margin: 8px 0;
  color: #444;
  font-size: 14px;
}
